<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="~{ /header.html :: header }"></div>
    <h3> 게시물 쓰기 </h3>

    <form>

        <select id="category">
            <option value="1">ㅇㅇ</option>
            <option value="2">ㅇㅇ</option>
        </select>
        
        <input id="title" type="text" class="form-control" /> <br />
        <textarea id="content" rows="10" class="form-control"></textarea>
        <button onclick="_write()" type="button"> 쓰기 </button>

    
      </form>

    <!-- <form>
        글쓰기 : <input class="나중에 정하세요" />
        <button onclick="_write()" type="button"> 쓰기 </button>s
      </form> -->

    <script src="/js/board/write.js"></script>
    <script src="/js/board/category.js"></script>
    <div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>